@import 'foundation/fonts';

@forward 'foundations/bootstrap';

@use 'foundation/sizes';

$theme-light: (
  primary: coral,
  background: white,
  foreground: black,
);

$theme-dark: (
  primary: goldenrod,
  background: black,
  foreground: white,
);

$body-font-family: $poppins;

$card-spacing: map.get(sizes.$spacing, 'medium');
$card-radius: map.get(sizes.$radius, 'medium');

$alert-spacing: map.get(sizes.$spacing, 'medium');
$alert-radius: map.get(sizes.$radius, 'medium');

$list-spacing: map.get($spacing, 'small');

$themes: ('theme-dark', 'theme-light') !default;

@custom-media --motion-ok (prefers-reduced-motion: no-preference);
@custom-media --motion-not-ok (prefers-reduced-motion: reduce);

@mixin theme($theme) {
  body.#{$theme} {
    font-family: $body-font-family;
    color: map.get($theme, 'foreground');

    background-color: map.get($theme, 'background');
  }

  a {
    color: map.get($theme, 'primary');
  }
}

@mixin vertical-list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: $list-spacing;
}

@mixin card($border-color) {
  display: block;

  padding: $card-spacing;

  border: 1px solid $border-color;
  border-radius: $card-radius;
}

%alert {
  padding: $alert-spacing;

  border-radius: $alert-radius;
}

.alert-success {
  @extend %alert;

  background-color: #bfb;
  border: 1px solid #4f4;
}

.alert-error {
  @extend %alert;

  background-color: #fbb;
  border: 1px solid #f44;
}

.product-list {
  $color: pink;

  --icon-size: 14px;

  @include card($color);
  @include vertical-list;

  background-color: powderblue;

  &__item {
    display: flex;
    align-items: center;
  }
}

.order-list {
  @include card(powderblue);
  @include vertical-list;

  background-color: pink;

  &__item {
    display: flex;
    align-items: center;
  }
}

@each $theme in $themes {
  @include theme($theme);
}
